.#{$prefix}blog {
	background-color: #d6efec;
	position: relative;

	.#{$prefix}background-heading {
		color: rgba($color: #000000, $alpha: 0.03);
		position: absolute;
		top: rem(20);
		left: rem(400);
	}
}
